.card_corte__contianer {
  width: 215px;
  height: 11rem;
  border-radius: 5px;
  background-color: #16355b;
  box-shadow: 5px 5px 2px rgba(28, 28, 28, 0.33);
  border: 3px solid #cabf9c;
  margin-left: 1%; 
  margin-right: 2%; 
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  color: rgb(250, 250, 250);
  transition: all 0.2s;
}
.p_card_titulo {
  font-size: 1.3rem !important;
  text-align: justify;
}

/* Estilos para pantallas mayores a 700px */
@media only screen and (min-width: 700px) {
  .card_corte__contianer {
    width: calc(20% - 6%); 
    margin: 10px 1%; 
  }
}

a .card_corte__contianer:hover {
  border: 3px solid #ffffff;
  box-shadow: 6px 6px 3px rgba(28, 28, 28, 0.664);
  background-color: #0d1d31;

}

