footer{
    position: sticky;
    display: flex;
    height: 60px;
    width: 100%;
    background: black;
    flex-direction: row-reverse;
    bottom: 0;
    margin-top: 25px;
}
.footer_img{
    width: 114px;
    height: 55px;
}

